<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/login-styles.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet">
    <title>Registrarse</title>
  </head>
  <body>
    <div class="main">
      <label for="" class="logo"><i class="ri-hospital-line"></i></label>
      <div class="title">MediPucallpa</div>
      <form action="">
        <div class="credentials">
          <div class="username">
            <span class="user-icon"><i class="ri-user-fill"></i></span>
            <input
              type="text"
              name="username"
              placeholder="Usuario"
              required=""
            />
          </div>
          <div class="password">
            <span class="lock-icon"><i class="ri-lock-line"></i></span>
            <input
              type="password"
              name="password"
              placeholder="Contraseña"
              required=""
            />
          </div>
        </div>
        <button class="submit">Ingresar</button>
      </form>
      <div class="link">
        <a href="#" id="">Ovidaste tu contraseña?</a> &nbsp
        <a href="/layouts/createUser.html" target="_blank"> Registrarse</a>
      </div>
    </div>
  </body>
</html>
